*{
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
    
}

@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300&display=swap');

.TopMenuBar{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.logo{
    cursor: pointer;
    border: solid 1px;
}

ul{
    list-style-type: none;
}

li{
    display: inline-block;
    padding: 16px;
}

/* .cart >li:last-child{
    
} */

.avatar{
    height: 50px;
    display: none;
}

.title{
    font-weight: bolder;
}

hr{
    width:1170px;
    height: 1.5px;
    background: #e2dddd8a;
    font-size: 0;
    border:none;
}

.hr{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:20px 0 50px 0;
}

.snickers{
    height:405px;
    border-radius: 20px;
    cursor: pointer;
}

.productThumb{
    max-width: 35%;
    width: 520px;
}

.description{
    color:  #2b2b2b;
    font-size: 15.1px;
    font-weight: 600;
    text-align: left;
}

.productInfo{
    max-width: 420px;
    margin-top: 5rem;
}

.contentWrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.priceWrapper{
    display: flex;
    align-items: center;
}


.productDescriptionWrapper{
    display: flex;
    flex-direction: column;
    row-gap: 1.4rem;
}

.company{
    text-transform: uppercase;
    font-weight:bolder;
    color: hsl(26, 100%, 55%);
}

.contentWrapper .lastPrice{
    margin-left: 0;
    text-align: left;
    color: silver;
    font-weight: bolder;
}

.descount{
    background-color: hsl(25, 100%, 94%);
    color: hsl(26, 100%, 55%);
    padding: 0 10px;
    border-radius: 5px;
}

.price{
    font-weight: bolder;
    margin-right: 1rem;
}

.ButtomWrapper{
    display:flex;
    flex-direction: row;
}

.ButtomWrapper >.customButtom svg{
    margin-right: 0.7rem;
    
}
.customButtom{
    width: 255px;
    height: 42px;
    border: transparent;
    border-radius: 5px;
    cursor: pointer;
    background-color: hsl(26, 100%, 55%);
    color: #ffff;
    font-size: 14px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
}

.customButtom:hover{
    background-color: rgb(14, 17, 22);
    transition:ease-in 0.1s ;
}



.customRight{
    background-color:  hsl(223, 64%, 98%);
    color: hsl(26, 100%, 55%);
    border: none;
    height:42px;
    width: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
    
}

.customStyle{
    background-color:  hsl(223, 64%, 98%);
    color: hsl(26, 100%, 55%);
    border: none;
    height: 42px;
    width: 55px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  .counterValue{
    background-color:  hsl(223, 64%, 98%);
    width: 50px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .custom, .customRight svg{
    position: relative;
    font-size: 16px;
  }
  .counterWrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-right: 1rem;
  }

  .iconPhotos{
    margin-top: 1.5rem;
    margin-left: -1.5rem;
  }
