*{
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
    
}

@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300&display=swap');

.TopMenuBar{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    
}

ul{
    list-style-type: none;
}

li{
    display: inline-block;
    padding: 16px;
}

.ul2{
    background-color: aquamarine;
}


.avatar{
    height: 50px;
}

hr{
    width:1170px;
    height: 1.5px;
    background: #e2dddd8a;
    font-size: 0;
    border:none;
}

.hr{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.snickers{
    height:405px;
    border-radius: 20px;
}

.productThumb{
    background-color: aquamarine;
    width: 35%;
}

.description{
    
}

.productInfo{
    background-color: hotpink;
    max-width: 400px;
    margin-top: 4rem;
    
}

.contentWrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
   
    
}

.priceWrapper{

    display: flex;
    align-items: center;
    background-color: aqua;
}

.lastPrice{
    background-color: brown;
   
}

.company{
    text-transform: uppercase;
    font-weight:bolder;
    color: hsl(26, 100%, 55%);
    
}

.contentWrapper .lastPrice{
    background-color: fuchsia;
    margin-left: 0;
    text-align: left;
    color:  hsl(223, 64%, 98%);
    font-weight: bolder;
}

.descount{
    background-color: hsl(25, 100%, 94%);
    color: hsl(26, 100%, 55%);
    padding: 0 10px;
    border-radius: 5px;
}

.price{
    font-weight: bolder;
    margin-right: 1rem;
}

.ButtomWrapper{
    background-color: chartreuse;
    display:flex;
    flex-direction: row;
}

.ButtomWrapper >.customButtom svg{
    margin-right: 0.7rem;
    
}
.customButtom{
    width: 270px;
    height: 50px;
    border: transparent;
    border-radius: 10px;
    cursor: pointer;
    background-color: hsl(26, 100%, 55%);
    color: #ffff;
    font-size: 16px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
}

.customRight{
    background-color:  hsl(223, 64%, 98%);
    color: hsl(26, 100%, 55%);
    border: none;
    height:50px;
    width: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
}

.custom {
    background-color:  hsl(223, 64%, 98%);
    color: hsl(26, 100%, 55%);
    border: none;
    height: 50px;
    width: 55px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  .counterValue{
    background-color:  hsl(223, 64%, 98%);
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .custom, .customRight svg{
    position: relative;
    font-size: 16px;
    
    
  }
  .counterWrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-right: 1rem;
  }