*{
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
    
}

@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300&display=swap');


:root {
    --font: 'Poppins', sans-serif;
    --bg-soft-white: hsl(223, 64%, 98%);
    --primary-color: #6085f7;
    --primary-overlay:  rgba(0, 0, 0, .5);
    --warning-color: #f86666;
    --orange-bg: hsl(26, 100%, 55%);
    --padding-f0: 1.5rem;
    --orange: hsl(25, 97%, 53%);
    --fs-p2: 2.4rem;
    --fs-p6:3.8rem;
    --fs-p1: 1.3rem;
    --fs-p0: 1rem;
    --fs-p5: 0.7rem;
    --fs-p00: 1.5rem;
    --font-family: "Overpass", sans-serif;
    --text400: 400;
    --text700: 700;
    --light-grayish-blue: hsl(223, 64%, 98%);
    --dark-grayish-blue: hsl(219, 9%, 45%);
    --Grayish-blue: hsl(220, 14%, 75%);
}


.wrapperContainer{
    margin-top: var(--fs-p2);
    height: 900px;
}
.TopMenuBar{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.logo{
    cursor: pointer;
}

ul{
    list-style-type: none;
}

li{
    display: inline-block;
    padding: 16px;
    align-items: center;
    justify-content: center;
    font-weight: var(--text400);
    color: var(--dark-grayish-blue);
}

.title{
    font-weight: var(--text700);
    margin-bottom: var(--fs-p0);
    font-size: 40px;
}

hr{
    width:1170px;
    height: 1px;
    opacity: 0.5;
    background: var(--Grayish-blue);
    font-size: 0;
    border:none;
    margin-top: var(--fs-p1);
}

.hr{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:20px 0 50px 0;
}

.snickers{
    height:445px;
    border-radius: 20px;
    cursor: pointer;
}

.productThumb{
    width: 520px;
    margin-top: var(--fs-p6);
}

.description{
    color:  #2b2b2b;
    font-size: 16px;
    font-weight: var(--text700);
    text-align: left;
}

.productInfo{

    max-width: 420px;
    margin-top: 6rem;
}

.contentWrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
   
}

/* @media screen and (max-width:1300px){
    .contentWrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 2rem;
        margin-bottom: 2rem;
    }
} */

.priceWrapper{
    display: flex;
    align-items: center;
}


.productDescriptionWrapper{
    display: flex;
    flex-direction: column;
    row-gap: 1.2rem;
    margin-top: var(--fs-p0);
    width: 505px;
}

.company{
    text-transform: uppercase;
    font-weight:bolder;
    color: hsl(26, 100%, 55%);
}

.contentWrapper .lastPrice{
    margin-left: 0;
    text-align: left;
    color: silver;
    font-weight: bolder;
}

.descount{
    background-color: hsl(25, 100%, 94%);
    color: hsl(26, 100%, 55%);
    padding: 0 10px;
    border-radius: 5px;
}

.price{
    font-weight: bolder;
    margin-right: 1rem;
}

.ButtomWrapper{
    display:flex;
    flex-direction: row;
}

.ButtomWrapper >.customButtom svg{
    margin-right: 0.7rem;
    
}
.customButtom{
    width: 235px;
    height: 50px;
    border: transparent;
    border-radius: 5px;
    cursor: pointer;
    background-color: var(--orange-bg);
    color: var(--bg-soft-white);
    font-size: 14px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
}

.customButtom:hover{
    background-color: rgb(14, 17, 22);
    transition:ease-in 0.1s ;
}

.customRightButtom{
    background-color:  hsl(223, 64%, 98%);
    color: hsl(26, 100%, 55%);
    border: none;
    height:50px;
    width: 47px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    cursor: pointer;
    
}

.customStyle{
    background-color:  hsl(223, 64%, 98%);
    color: hsl(26, 100%, 55%);
    border: none;
    height: 50px;
    width: 47px;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  .counterValue{
    background-color:  hsl(223, 64%, 98%);
    width: 47px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    
  }

  .custom, .customRight svg{
    position: relative;
    font-size: 16px;
  }
  .counterWrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-right: 1rem;
  }

  .iconPhotos{
    margin-top: var(--fs-p2);
    margin-left: -1.5rem;
  }

  .badgeWrapper{
    height: 30px;
    width: 30px;
    display: inline-block;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
}

.cartBadge{
    position: absolute;
    top:-14px;
    right: -15px;
    width: 15px;
    height: 15px;
    padding: 5px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: hsl(26, 100%, 55%);
    color: var(--primary-contrast);
    font-family: var(--font);
    color: var(--bg-soft-white);
    font-size: 16px;
  }

  .showAccount{
    height: 120px;
    width: 140px;
    background-color: var(--bg-soft-white);
    border-radius: 5px;
    position: absolute;
    top:50px;
    right:435px;

}
  