
  .closeModalButtom{
    border: none;
    background-color:var(--bg-soft-white);
    position:absolute ;
    top:100px;
    right:610px;
    cursor: pointer;
    z-index: 10;
}

.modalWrapper{
  z-index: 99;
  position: relative;
}