.AppCarrouselMini .card img {
    background-color: rgb(255, 0, 0);
    cursor: pointer;
    border-radius: 10px;
    height: 100px;
    display: flex;
}
  
  .AppCarrouselMini{
    max-width: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .carouselWrapper{
    max-width: 450px;
    width: 100%;
    display: flex;    
  }
