*{
    margin: 0;
    padding: 0;
}
.TopMenuBar{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    
}

ul{
    list-style: none;
    list-style-type: none;
}

li{
    display: inline-block;
    padding: 16px;
}

.avatar{
    height: 50px;
}

.snickers{
    height:445px;
}

.productThumb{
    background-color: aquamarine;
    width: 50%;
}

.contentWrapper{
    display: flex;
    flex-direction: row;
}

.priceWrapper{

    display: flex;
    background-color: aqua;
   
}

h3{
    background-color: antiquewhite;
}

.aa{
    background-color: brown;
}

.contentWrapper .aa{
    background-color: fuchsia;
    margin-left: 0;
    text-align: left;
}

.addWrapper{
    background-color: chartreuse;
    display:flex;
    flex-direction: row;
}

.addWrapper svg{
    margin-right: 0.7rem;
    
}
